<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deleting User</title>
</head>
<body>

    <h1>To delete the Information of user, Please Enter the Password</h1>

    <form method="post" action="/users/<%= user.id %>?_method=DELETE">
        <input type="password" name="password" placeholder="Enter Password">
        <button type="submit">Delete</button>
    </form>
    
</body>
</html>